{% extends "base.html" %} {% block title %}Modal{% endblock %} {% block content%}

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method = 'POST'>
                <div class="mb-3">
                  <label class="form-label">Input Value</label>
                  <input class="form-control" name="entry_value">
                </div>
                <div class="container">
                <div class='row row-cols-1 w-100'> 
                <div class='col'>
                  <select class="form-select" aria-label="Default select example" name="entry_unity">
                    <option selected value="0">Choose Unity</option>
                    {% for unity in unities %}
                    <option value="{{unity.id}}">{{ unity.name }} ({{unity.unity}})</option>
                    {% endfor %}
                  </select>
                </div>
                <br>
                <div class='col'>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                  <!-- flash code from  https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                </div> 
                </div>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>